
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.dev
env.dev
*.env*
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/data/streams.csv
###< symfony/framework-bundle ###
